.things {
    width: 275px;
    height: 275px;
    margin: 5vh auto;

    
    

}

#coffee {
    background-image: url("../images/coffee.jpg");
    background-size: cover;
}

#david {
    background-image: url("../images/david.jpg");
    background-size: cover;
}

#skate {
    background-image: url("../images/skate.jpg");
    background-size: cover;
}

