.thingsSection {
    width: 100vw;
    margin: auto;
    display: grid;
    padding-top: 50px;
    
    .things {
        margin: auto;
        align-content: center;

        img { width: 275px; }

        p {
            display: block;
            width: 275px;
            padding: 10px 0 10px 0;
        }
    }
}

